{% extends 'base.html.twig' %}

{% block title %}Ajouter une News{% endblock %}

{% block body %}
    

    <div class="container">

        <h1 class="text-center my-3">Ajouter une News</h1>

        {{ include('news/_form.html.twig') }}
        
        <a href="{{ path('news_index') }}">Retour</a>

    </div>

    
{% endblock %}
